v1451291.hosted-by-vdsina.ru {
  reverse_proxy client:5000  {
    header_down Strict-Transport-Security max-age=31536000;
   }

  rewrite /path /path/
  handle /path/* {
    uri strip_prefix /path
    rewrite * /socket.io{path}
    reverse_proxy server:1337 {
      header_up Host {host}
      header_up X-Real-IP {remote}
    }
  }
}